@model DIMS.BAL.EF.DisasterInformation
@{
    ViewBag.Title = "DisasterInformation";
}

<h2>Disaster Information</h2>
<form action="SaveDisasterInformation" method="post">
    <table>
        <tr>
            <td>Description</td>
            <td>@Html.TextBoxFor(model => Model.Description, new { @class = "form-control", @required = "required" })</td>
        </tr>
        <tr>
            <td>Disaster Date</td>
            <td>@Html.TextBoxFor(model => Model.DisasterDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @required = "required" })</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Html.TextBoxFor(model => Model.Address, new { @class = "form-control", @required = "required" })</td>
        </tr>
        <tr>
            <td>Lat/Long</td>
            <td>@Html.TextBoxFor(model => Model.LatLong, new { @class = "form-control" , @required = "required" })</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btn btn-primary" value="Save" />
                @Html.HiddenFor(model => model.DisasterInformationID)
            </td>
        </tr>
    </table>
</form>

